<div class="container">
  <br><br>
  <h2>Demande de Formation</h2><br>
  <h4>Formation&nbsp;&nbsp;| &nbsp;&nbsp;Statut &nbsp;&nbsp;|&nbsp;&nbsp; Description &nbsp;&nbsp;|&nbsp;&nbsp;succinte
  </h4>
  <hr>
  <h4>Formation&nbsp;&nbsp;| &nbsp;&nbsp;Statut &nbsp;&nbsp;|&nbsp;&nbsp; Description &nbsp;&nbsp;|&nbsp;&nbsp;succinte
  </h4>
  <hr>
</div>


<br><br>
<h2>Ma bulle RH</h2><br>
<button type="button" class="btn btn-info">Suivi notes de frais </button> &nbsp;&nbsp;
<button type="button" class="btn btn-info">Suivi notes de frais </button>

<br><br>
<h5>Projection carrière</h5> Court terme (6 mois)<br><br>

<button type="button" class="btn btn-primary disabled">Compétences 1 </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Compétences 2 </button><br><br>
<button type="button" class="btn btn-primary disabled">Thématique X </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Thématique X </button>


<br><br> Moyen terme (1-2 ans) (6 mois)<br>

<button type="button" class="btn btn-primary disabled">Compétences 1 </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Compétences 2 </button><br><br>
<button type="button" class="btn btn-primary disabled">Thématique X </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Thématique X </button>

<br><br> Long terme (+3 ans)<br>

<button type="button" class="btn btn-primary disabled">Compétences 1 </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Compétences 2 </button><br><br>
<button type="button" class="btn btn-primary disabled">Thématique X </button> &nbsp;&nbsp;
<button type="button" class="btn btn-primary disabled">Thématique X </button>
