<div>
  <div class="missionsContainer">
    <div class="missionsTitle">
      <span class="material-symbols-outlined">pending</span>
      <h2>Mission en cours</h2>
    </div>
    <div class="progressWrapper">
      <div class="missionLabel">
        <p>Projet 1</p>
        <p>MACIF</p>
      </div>
      <div class="progressBar">
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
        <div class="fourth">
          <p class="phase">Phase x</p>
        </div>
        <div class="fifth"></div>
      </div>
    </div>
    <div class="progressWrapper">
      <div class="missionLabel">
        <p>Projet 2</p>
        <p>INNOVA</p>
      </div>
      <div class="progressBar">
        <div class="first"></div>
        <div class="sixth">
          <p class="phase">Phase x</p>
        </div>
        <div class="fifth"></div>
        <div class="fifth"></div>
        <div class="fifth"></div>
      </div>
    </div>
  </div>
</div>


<div>
  <div class="demandeFormationContainer">
    <div class="missionsTitle">
      <span class="material-symbols-outlined">
        calendar_month
      </span>
      <h2>Demande de Formation</h2>
    </div>

    <div class="textTable">

      <h4>Nom du projet&nbsp;&nbsp;| &nbsp;&nbsp;Client &nbsp;&nbsp;|&nbsp;&nbsp; Date
        &nbsp;&nbsp;|&nbsp;&nbsp;Description
        succinte</h4>
      <hr>
      <h4>Nom du projet&nbsp;&nbsp;| &nbsp;&nbsp;Client &nbsp;&nbsp;|&nbsp;&nbsp; Date
        &nbsp;&nbsp;|&nbsp;&nbsp;Description
        succinte</h4>
      <hr>
      <h4>Nom du projet&nbsp;&nbsp;| &nbsp;&nbsp;Client &nbsp;&nbsp;|&nbsp;&nbsp; Date
        &nbsp;&nbsp;|&nbsp;&nbsp;Description
        succinte</h4>
      <hr>
      <h4>Nom du projet&nbsp;&nbsp;| &nbsp;&nbsp;Client &nbsp;&nbsp;|&nbsp;&nbsp; Date
        &nbsp;&nbsp;|&nbsp;&nbsp;Description
        succinte</h4>

    </div>
  </div>
</div>


<div>
  <div class="missionsContainer">
    <div class="missionsTitle">
      <span class="material-symbols-outlined">
        check_circle
      </span>
      <h2>Compétences acquises</h2>
    </div>
    <div>
      <ul class="labelWrapper">
        <li class="label">Compétences 1</li>
        <li class="label">Compétences 1</li>
        <li class="label">Compétences 1</li>
      </ul>

    </div>
    <div>
      <ul class="labelWrapper">
        <li class="label">Compétences 1</li>
        <li class="label">Compétences 1</li>
        <li class="label">Compétences 1</li>
      </ul>

    </div>

    <div class="espace">
      <div class="missionsTitle">
        <span class="material-symbols-outlined">
          hourglass_empty
        </span>
        <h2>Compétences en cours d acquisition</h2>
      </div>
      <div>
        <ul class="labelWrapper">
          <li class="label">Compétences 1</li>
          <li class="label">Compétences 2</li>
          <li class="label">Compétences 3</li>
        </ul>

      </div>
    </div>
  </div>
