

<div class="container  border" style="border: 0.5px ">
  <h2>Fiche 360</h2>
  <div class="row">
    <div class="col-3 missionsContainer">
      <app-profil></app-profil>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="col-5">
          <app-competences></app-competences>
        </div>
        <div class="col-7">
          <app-calandar></app-calandar>
        </div>
      </div>

      <div class="row">
        <div class="col-7">
          <app-missions></app-missions>
        </div>
            <div class="col-5">
              <app-carriere></app-carriere>
            </div>
        </div>
      </div>
    </div>
</div>
