<div>
  <h1><strong>Mélanie Georgiades</strong></h1>
  <div class="p-3 mb-2 bg-light text-dark ">
    <h3>Analyste programmeuse | CDI </h3>
    <i class="fa fa-home" aria-hidden="true" *ngFor="let competence of competences"> {{competence.nom_agence}}
      &nbsp;&nbsp;&nbsp; Responsable :{{competence.responsable}}</i>
    <ul class="labelWrapper">
      <li class="label">Technologies mainframe</li>
      <li class="label">COBOL</li>
      <li class="label">PACBASE</li>
      <li class="label">Secteur Bancaire</li>
    </ul>

    <p>Quelques mots à propos de Mélanie.

      Sed ut perspiciatis, unde omnis iste natus
      error sit voluptatem accusantium doloremque
      laudantium, totam rem aperiam eaque ipsa,
      quae ab illo inventore veritatis et quasi
      architecto beatae vitae dicta sunt, explicabo.
      Nemo enim ipsam voluptatem, quia voluptas
      sit, aspernatur aut odit aut fugit

      Quelques mots à propos de Mélanie.

      Explicabo. Nemo enim ipsam voluptatem,
      quia voluptas sit, aspernatur aut odit aut fugit</p>
  </div>

</div>
